<!DOCTYPE html>
<html>
	<%= render 'layouts/admin/header' %>
<body>
	<%= render 'layouts/admin/notification' %>
	<%= render 'layouts/admin/nav_bar' %>
<div class="container-fluid">
<%= yield %>
</div>

</body>
</html>
