<header>
<div class="row">
	<div class="large-12 columns">
		<!--  <h1>Killer Mans Sons Motorcycle Club</h1> -->
		<img src="img/KillerMansSons.jpg" alt="Killer Mans Sons Motorcycle Club" />
	</div>
</div>
</header>
