<hr class="footer-hr" />

<footer>

	<div class="row">
		<div class="large-12 columns">
			<p><center>&copy; Killer Mans Sons Motorcycle Club <%= Date.current.year %></center></p>
		</div>
	</div>

</footer>
