<div class="large-3 medium-3 columns">
	<p>
		<a href="/" class="active small radius button">HOME</a><br/>
		<% State.joins(:chapters).each do |state| %>
			<a href="/state/<%= state.name %>" class="small radius button"><%= state.name.upcase %></a><br/>
		<% end %>
		<a href="/home/history" class="small radius button">HISTORY</a><br/>
		<br/>
			<!-- <a href="#" class="medium secondary button">WEB-LINKS</a> -->
	</p>
</div>
