<div class="large-3 medium-3 columns">
		<p>
			<a href="/" class="active small radius button">HOME</a><br/>
			<a href="alabama.html" class="small radius button">ALABAMA</a><br/>
			<a href="california.html" class="small radius button">CALIFORNIA</a><br/>
			<a href="florida.html" class="small radius button">FLORIDA</a><br/>
			<a href="georgia.html" class="small radius button">GEORGIA</a><br/>
			<a href="north_carolina.html" class="small radius button">NORTH CAROLINA</a><br/>
			<a href="north_east.html" class="small radius button">NORTH EAST</a><br/>
			<a href="texas.html" class="small radius button">TEXAS</a><br/>
			<a href="washington.html" class="small radius button">WASHINGTON</a><br/>
			<a href="history.html" class="small radius button">HISTORY</a><br/>
			<br/>
			<!-- <a href="#" class="medium secondary button">WEB-LINKS</a> -->
		</p>
</div>
