<header>
<div class="row">
	<div class="large-12 columns">
		<!--  <h1>Killer Mans Sons Motorcycle Club</h1> -->
		<img src="img/KillerMansSons.jpg" alt="Killer Mans Sons Motorcycle Club" />
	</div>
</div>
</header>

<br><br>

<content>
	<div class="row">
		<div class="large-12 columns">
			<div class="row">
				<%= render 'main_navigation' %>
				<div class="large-9 medium-9 columns">

					<hr class="top-hr" />
						<h3>Official Website of the Killer Mans Sons Motorcycle Club</h3>
					<hr />

					<p>The club is independent, and not affiliated with or sponsored by any motorcycle manufacturer, group or other ORGANIZATION. The club was founded to promote motorcycling and camaraderie amongst active duty and former members of the 75th Ranger Regiment, active combat attachments, and immediate Gold Star Family members. The goal of the Killer Mans Sons Motorcycle Club is to generate an increased level of enthusiasm for riding motorcycles and to support members of the 75th Ranger Regiment, Ranger Families and other charitable organizations. All members must be a current or former member of the 75th Ranger Regiment; personnel attached to the Regiment who served in a direct combat role (tacp, eod, etc) from other units and immediate Gold Star Family members.
					<p> For more history visit the U.S. Army Ranger Association’s Website: <a href="http://www.ranger.org/">Ranger.org</a>

					<hr />

				</div>
			</div>
		</div>
	</div>
</content>

<hr class="footer-hr" />

<footer>

	<div class="row">
		<div class="large-12 columns">
			<p><center>&copy; Killer Mans Sons Motorcycle Club 2015</center></p>
		</div>
	</div>

</footer>

<script src="js/vendor/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script>
	$(document).foundation();
</script>
