<div class="page-header">
  <h1>Members</h1>
</div>
<%- sort_chapters_by_state(@chapters).each do |chapter| %>
  <%= render partial: "users_table", locals: { chapter: chapter, users: sort_users_by_role(chapter.users) } %>
<%- end %>

<%= render partial: "users_table", locals: { chapter: nil, users: User.orphaned } %>
