<div class="panel panel-default">
  <div class="panel-heading"><%= @user.name_first %> <%= @user.name_last %></div>
  <table class="table">
		<thead>
			<tr>
				<th>email</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<%= @user.email %>
				</td>
			</tr>
		</tbody>
  </table>
</div>
