<div class="page-header">
  <h1>Chapters</h1>
</div>
<%= render partial: "chapter_table", locals: { chapters: @adopted_chapters, description: 'Chapters asociated with a State are grouped, on the home page, under their State.' } %>
<%= render partial: "chapter_table", locals: { chapters: @orphaned_chapters, description: 'Chapters not asociated with a State are displayed on the home page' } %>
